<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cart</title>
</head>
<body>
   <center><h1>Gaming Pc</h1></center>
    <center><img src="./static/Img/Pc.jpeg"></center>
    <center><h2>Desc: Gaming PC</h2></center>
     <center><h2>price: 1500$</h2></center>

       <center><h1>luffy poster</h1></center>
    <center><img src="./static/Img/luffy.jpeg"></center>
    <center><h2>Desc: poster</h2></center>
     <center><h2>price: 15$</h2></center>

       <center><h1>lungs</h1></center>
    <center><img src="./static/Img/lungs.jpeg"></center>
    <center><h2>Desc: nice healthy lungs</h2></center>
     <center><h2>price: 150009$</h2></center>

        <br>
        <button>Buy</button>
</body>
</html>