<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <h1>WBay</h1>
    <h2>Win Bay is basiclly Ebay but better</h2>
    <a href="/cart"><img src="./static/Img/cart.jpg" width="50px" style="float: right;"></a>
    <h3>Gaming stuff</h3>
    <a href="{{ url_for('Pc') }}"><img src="./static/Img/Pc.jpeg"></a>
    <a href="{{ url_for('chair') }}"><img src="./static/Img/Chair.jpeg"></a>
    <a href="{{ url_for('mouse') }}"><img src="./static/Img/Mouse.jpeg"></a>
    <a href="{{ url_for('keyboard') }}"><img src="./static/Img/KeyBoard.jpeg"></a>
    <a href="{{ url_for('headset') }}"><img src="./static/Img/HeadSet.jpeg"></a>
    <h3>Win piece</h3>
    <a href="{{ url_for('poster1') }}"><img src="./static/Img/OnePIece.jpeg"></a>
    <a href="{{ url_for('zoro') }}"><img src="./static/Img/zoro.jpeg"></a>
    <a href="{{ url_for('luffy') }}"><img src="./static/Img/luffy.jpeg"></a>
    <a href="{{ url_for('figure1') }}"><img src="./static/Img/figure1.jpeg"></a>
    <a href="{{ url_for('figure2') }}"><img src="./static/Img/figure2.jpeg"></a>
    <h3>Organs</h3>
    <a href="{{ url_for('kidney') }}"><img src="./static/Img/kidney.jpeg"></a>
    <a href="{{ url_for('heart') }}"><img src="./static/Img/heart.jpeg"></a>
    <a href="{{ url_for('lung') }}"><img src="./static/Img/lungs.jpeg"></a>
    <a href="{{ url_for('liver') }}"><img src="./static/Img/liver.jpeg"></a>
    <a href="{{ url_for('eye') }}"><img src="./static/Img/eye.jpeg"></a>
    
    



</body>
</html>