<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <h1>WBay</h1>
    <h2>Win Bay is basiclly Ebay but better</h2>
    <h3>Gaming stuff</h3>
    <a href="http://127.0.0.1:5000/product"><img src="./static/Img/Pc.jpeg"></a>
    <a href="http://127.0.0.1:5000/product"><img src="./static/Img/Chair.jpeg"></a>
    <a href="http://127.0.0.1:5000/product"><img src="./static/Img/Mouse.jpeg"></a>
    <a href="http://127.0.0.1:5000/product"><img src="./static/Img/KeyBoard.jpeg"></a>
    <a href="http://127.0.0.1:5000/product"><img src="./static/Img/HeadSet.jpeg"></a>
    <h3>Win piece</h3>
    <a href="http://127.0.0.1:5000/product"><img src="./static/Img/OnePIece.jpeg"></a>
    <a href="http://127.0.0.1:5000/product"><img src="./static/Img/zoro.jpeg"></a>
    <a href="http://127.0.0.1:5000/product"><img src="./static/Img/luffy.jpeg"></a>
    <a href="http://127.0.0.1:5000/product"><img src="./static/Img/figure1.jpeg"></a>
    <a href="http://127.0.0.1:5000/product"><img src="./static/Img/figure2.jpeg"></a>
    <h3>Organs</h3>
    <a href="http://127.0.0.1:5000/product"><img src="./static/Img/kidney.jpeg"></a>
    <a href="http://127.0.0.1:5000/product"><img src="./static/Img/heart.jpeg"></a>
    <a href="http://127.0.0.1:5000/product"><img src="./static/Img/lungs.jpeg"></a>
    <a href="http://127.0.0.1:5000/product"><img src="./static/Img/liver.jpeg"></a>
    <a href="http://127.0.0.1:5000/product"><img src="./static/Img/eye.jpeg"></a>
    
    



</body>
</html>